*{
    background-color: rgb(210, 213, 216);
}
header{
    text-align: center;
    font-family: 'DynaPuff', cursive;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
 
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.navbar ul li:hover{
    transform: scale(1.09);
}
.image1{
    margin-left: 55px;
}